.game-container{
    display: flex;
    direction: row;
    justify-content: space-between;
    height: 90vh;
    padding: none;
    margin: none;
    gap : 2vh;
}

@media (max-width: 666px) {
    .game-container{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

.scoreBoard-container{
    align-content: center;
    width: 30vw;
}

@media (max-width: 666px) {
    .scoreBoard-container{
        width: 100%;
        justify-content: center;
    }
}

.board{
    display: grid;
    grid-gap: 12px;
}

@media (max-width: 666px) {
    .board{
        width: 95%;
        justify-content: center;
    }
}

.fourByFour{
    grid-template-columns: repeat(4, 1fr);
}

.sixBySix{
    grid-template-columns: repeat(6, 1fr);
}

.eightByEight{
    grid-template-columns: repeat(8, 1fr);
}

.back-button, .restart-button{
    width: 30px;
    height: 30px;
    background-color: #75e3ff;
    border-top: 3px solid #bdf2ff;
    border-left: 3px solid #bdf2ff;
    border-bottom: 3px solid #3ea1b9;
    border-right: 3px solid #3ea1b9;
    display: flex;
    justify-content: center;
    align-items: center;   
    cursor: pointer;
}

.control-buttons{
    display: flex;
    padding: 40px;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 666px) {
    .control-buttons{
        padding: 20px;
    }
}


