.game-container{
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: none;
    margin: none;
    height: 650px;

}

.scoreBoard-container{
    padding-right: 95px;
}

.board{
    display: grid;
    grid-gap: 10px;
    width: 650px;
}