.game-container{
    display: flex;
    direction: row;
    justify-content: space-between;
    height: 90vh;
    padding: none;
    margin: none;
    gap : 2vh;

}

.scoreBoard-container{
    align-content: center;
    width: 30vw;
}

.board{
    display: grid;
    grid-gap: 12px;
}