.card {
    cursor: pointer;
    aspect-ratio: 1 / 1;
}


.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border-top: 3px solid #f0efed; 
    border-left: 3px solid #f0efed; 
    border-bottom: 3px solid #807f7f; 
    border-right: 3px solid #807f7f; 
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.card-content{
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-flipped {
    transform: rotateY(180deg) translateX(-6px);
    box-shadow: 0px 0px 15px #0d002e9c;
}


.card-front {
    background-color: #ffffff;
}

.card-logo{
    width: 100%;
    object-fit: cover;
    
}

.card-back {
    transform: rotateY(180deg);
    align-content: center;
    background-color: #ffffff;
}

.color-name{
    font-size: 95%;
    text-wrap: wrap;
    font-weight: 600;
    color: #000000;
    text-shadow: 1px 1px 0px #f0efed31;
}
.color-hex{
    font-size: 95%;
    font-weight: 500;
    color: #000000;
}

.match{
    transform: rotateY(180deg) translateX(-6px) scale(0.7);
}


