.paint-window {
  background-color: #d1d4d3;
  border-top: 3px solid #edf0ef;
  border-left: 3px solid #edf0ef;
  border-bottom: 3px solid #7f8080;
  border-right: 3px solid #7f8080;
  box-shadow: 1px 1px 5px #00000052;
  width: 70vw;
  height: 80hw;
  max-width: 750px;
}

.paint-titleBar {
  background-color: #5e069e;
  color: #edf0ef;
  display: flex;
  padding: 5px;
}

.paint-logo {
  height: 20px;
  width: 20px;
  padding-right: 10px;
}

.paint-buttons {
  display: flex;
  margin-left: auto;
  cursor: default;
}

.paint-button {
  height: 25px;
  width: 25px;
  color: #0d002e;
  background-color: #d1d4d3;
  border-top: 2px solid #edf0ef;
  border-left: 2px solid #edf0ef;
  border-bottom: 2px solid #7f8080;
  border-right: 2px solid #7f8080;
}

.paint-button {
  height: 20px;
  width: 20px;
}


.x {
  margin-left: 6px;
}

.paint-configBar {
  display: flex;
  padding: 5px;
  gap: 15px;
  border-bottom: 2px solid #7f8080;
  box-shadow: 0px 2px 0px #edf0ef;
}

.paint-config::first-letter {
  text-decoration: underline;
}

.paint-config:hover {
  font-weight: bold;
  box-sizing: border-box;
  cursor: default;
}

.paint-middle {
  display: flex;
}

.paint-tools {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
  margin: 4px;
  margin-top: 5px;
  background-color: #000;
  box-shadow: 1px 1px 0px #000;
}

.paint-tools img {
  height: 25px;
  width: 25px;
  color: #0d002e;
  background-color: #d1d4d3;
  border-top: 2px solid #edf0ef;
  border-left: 2px solid #edf0ef;
  border-bottom: 2px solid #7f8080;
  border-right: 2px solid #7f8080;
}

.paint-tools img:hover {
  background-image: url(assets/paint-tools/selected-bg.png);
  background-size: 20px;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  box-shadow: 2px 0px 0px #fff, 0px 2px 0px #fff;
}

.paint-canvas {
  background-color: #fcf7fa;
  width: 95%;
  height: 90%;
}

.paint-canvas-greySpace {
  width: 100%;
  background-color: #7f8080;
  align-content: center;
  justify-content: center;
  border-top: 3px solid #7f8080;
  border-left: 3px solid #7f8080;
  border-bottom: 3px solid #edf0ef;
  border-right: 3px solid #edf0ef;
  box-shadow: -1px -1px 0px #000000, 1px 1px 0px #838383;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.paint-weirdSideRectangle {
  border-top: 2px solid #7f8080;
  border-left: 2px solid #7f8080;
  border-bottom: 2px solid #edf0ef;
  border-right: 2px solid #edf0ef;
  height: 16vh;
  margin: 1.9vh 1vh;
  margin-bottom: 30px;
}

.paint-colorBar {
  display: flex;
  padding: 10px;
  align-items: center;
  border-top: 2px solid #edf0ef;
  box-shadow: 0px -2px 0px #7f8080;
}

.paint-mainColors {
  background-image: url(assets/paint-tools/selected-bg.png);
  background-size: 20px;
  height: 40px;
  width: 40px;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #7f8080;
  border-right: 2px solid #7f8080;
  box-shadow: 0px 2px 0px #ffffff, 2px 0px 0px #ffffff, 2px 2px 0px #ffffff,
    0px -2px 0px #7f8080, -2px 0px 0px #7f8080, -2px -2px 0px #7f8080;
  margin-right: 10px;
  position: relative;
}

.color {
  height: 15px;
  width: 15px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  box-shadow: 0px 1px 0px #ffffff, 1px 0px 0px #ffffff, 1px 1px 0px #ffffff,
    0px -1px 0px #7f8080, -1px 0px 0px #7f8080, -1px -1px 0px #7f8080;
}

.main {
  border: 2px solid #c9c9c9;
  box-shadow: 0px 2px 0px #7f8080, 2px 0px 0px #7f8080, 2px 2px 0px #7f8080,
    0px -2px 0px #ebebeb, -2px 0px 0px #ebebeb, -2px -2px 0px #ebebeb;
}

.c-two {
  transform: translate(30%, -70%);
}

.c-one {
  transform: translate(82%, 82%);
}

.all-colors {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3px;
  background-color: #ffffff;
}
