.paint-window {
  background-color: #d6d3ce;
  border-top: 3px solid #f0efed;
  border-left: 3px solid #f0efed;
  border-bottom: 3px solid #807f7f;
  border-right: 3px solid #807f7f;
  box-shadow: 1px 1px 5px #00000052;
  width: 70vw;
  height: 80hw;
  max-width: 750px;
}

.paint-titleBar {
  background-color: #00007d;
  color: #f0efed;
  display: flex;
  padding: 5px;
}

.paint-logo {
  height: 20px;
  width: 20px;
  padding-right: 10px;
}

.paint-buttons {
  display: flex;
  margin-left: auto;
}

.paint-button,
.paint-tool {
  height: 25px;
  width: 25px;
  color: #0d002e;
  background-color: #d3ced6;
  border-top: 2px solid #f0efed;
  border-left: 2px solid #f0efed;
  border-bottom: 2px solid #807f7f;
  border-right: 2px solid #807f7f;
}

.chosen {
  background-color: #fff;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  box-shadow: 2px 0px 0px #fff, 0px 2px 0px #fff;
}

.paint-button {
  height: 20px;
  width: 20px;
}

.x {
  margin-left: 6px;
}

.paint-configBar {
  display: flex;
  padding: 5px;
  gap: 15px;
  border-bottom: 2px solid #807f7f;
  box-shadow: 0px 2px 0px #f0efed;
}

.paint-config::first-letter {
  text-decoration: underline;
}

.paint-middle {
  display: flex;
}

.paint-tools {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
  margin: 4px;
  margin-top: 5px;
  background-color: #000;
  box-shadow: 1px 1px 0px #000;
}

.paint-canvas {
  background-color: #fcf7fa;

  width: 100%;
  align-content: center;
  justify-content: center;
  border-top: 3px solid #807f7f;
  border-left: 3px solid #807f7f;
  border-bottom: 3px solid #f0efed;
  border-right: 3px solid #f0efed;
  box-shadow: -1px -1px 0px #000000, 1px 1px 0px #838383;
}

.paint-weirdSideRectangle {
  border-top: 2px solid #807f7f;
  border-left: 2px solid #807f7f;
  border-bottom: 2px solid #f0efed;
  border-right: 2px solid #f0efed;
  height: 16vh;
  margin: 1.9vh 1vh;
  margin-bottom: 30px;
}

.paint-colorBar {
  display: flex;
  padding: 10px;
  align-items: center;
  border-top: 2px solid #f0efed;
  box-shadow: 0px -2px 0px #807f7f;
}

.paint-mainColors {
  background-image: url(assets/paint-tools/selected-bg.png);
  background-size: 20px;
  height: 40px;
  width: 40px;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #807f7f;
  border-right: 2px solid #807f7f;
  box-shadow: 0px 2px 0px #ffffff, 2px 0px 0px #ffffff, 2px 2px 0px #ffffff,
    0px -2px 0px #807f7f, -2px 0px 0px #807f7f, -2px -2px 0px #807f7f;
  margin-right: 10px;
  position: relative;
}

.color {
  height: 15px;
  width: 15px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  box-shadow: 0px 1px 0px #ffffff, 1px 0px 0px #ffffff, 1px 1px 0px #ffffff,
    0px -1px 0px #807f7f, -1px 0px 0px #807f7f, -1px -1px 0px #807f7f;
}

.main {
  border: 2px solid #c9c9c9;
  box-shadow: 0px 2px 0px #807f7f, 2px 0px 0px #807f7f, 2px 2px 0px #807f7f,
    0px -2px 0px #ebebeb, -2px 0px 0px #ebebeb, -2px -2px 0px #ebebeb;
}

.c-two {
  transform: translate(30%, -70%);
}

.c-one {
  transform: translate(82%, 82%);
}

.all-colors {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 3px;
  background-color: #ffffff;
}
