.score-board{
  background-color: #d6d3ce;
  border-top: 3px solid #f0efed; 
  border-left: 3px solid #f0efed; 
  border-bottom: 3px solid #807f7f; 
  border-right: 3px solid #807f7f; 
  box-shadow: 1px 1px 5px #00000052;
  width: 70%;
  max-width: 300px;
  transition: width 0.3s ease, height 0.3s ease;
  z-index: 1;
}

.title-bar { /* buscar font pixeleada */
  display: flex;
  align-items: center;
  height: 27px;
  background: linear-gradient(90deg, #f88cc2, #f06faf);
  color: #f0efed;
  padding-left: 7px;
  padding-right: 5px;
  padding-top: 5px;
  box-sizing: border-box;
}

.two{
  background: linear-gradient(90deg, #8cb7f8, #6fcbf0);
}

.bar-button {
  height: 15px;
  width: 15px;
  color:#0d002e;
  background-color: #d6d3ce;
  border-top: 1px solid #f0efed; 
  border-left: 1px solid #f0efed; 
  border-bottom: 1px solid #807f7f; 
  border-right: 1px solid #807f7f; 
  align-self: flex-start;
  margin-left: auto;
  cursor: pointer;
  font-size: 13px;
  /*mover la fuckin cruzzzz*/
  box-sizing: border-box;
}

.screen {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.score {
  align-self: flex-start;
}

.score-button{
  width: 50%;
  align-self: center;
  margin-top: 15px;
  padding: 2px 0px;
  background-color: #d6d3ce;
  border-top: 1px solid #b3b2b0; 
  border-left: 1px solid #b3b2b0; 
  border-bottom: 2px solid #424242; 
  border-right: 2px solid #424242; 
  box-shadow: 0px 0px 3px #000000;
  cursor: pointer;
  font-size: 14px;
  
}

.two-player-score {
  position: relative;
}

.two-players {
}

.turn {
  position: relative;
  z-index: 2;
  transition: width 0.3s ease, height 0.3s ease;
}

.second-player{
  transform: translateX(30px) translateY(30px);

}