.win-background {
  background: #0e081bb2;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  backdrop-filter: blur(2px);
  z-index: 1;
}

.win-windows {
  position: relative;
  padding: 150px 230px;
}

.w-one {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.w-two {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3;
}

.w-three {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 4;
}

.w-four {
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: 5;
}

.w-five {
  position: absolute;
  top: 80px;
  left: 80px;
  z-index: 6;
}

.w-six {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 7;
}

.w-seven {
  position: absolute;
  top: 120px;
  left: 120px;
  z-index: 8;
}

.w-eight {
  position: absolute;
  top: 140px;
  left: 140px;
  z-index: 9;
}

.win-score-board {
  background-color: #d6d3ce;
  border-top: 3px solid #f0efed;
  border-left: 3px solid #f0efed;
  border-bottom: 3px solid #807f7f;
  border-right: 3px solid #807f7f;
  width: 300px;
}

.win-title-bar {
  /* buscar font pixeleada */
  display: flex;
  align-items: center;
  height: 35px;
  background: linear-gradient(90deg, #f88cc2, #f06faf);
  color: #f0efed;
  padding-left: 7px;
  padding-right: 5px;
  padding-top: 5px;
  box-sizing: border-box;
}

.p-two {
  background: linear-gradient(90deg, #8cb7f8, #6fcbf0);
}

.w-match {
  background: linear-gradient(90deg, #f88cc2, #8cb7f8);
}

.win-bar-button {
  height: 15px;
  width: 15px;
  color: #0d002e;
  background-color: #d6d3ce;
  border-top: 1px solid #f0efed;
  border-left: 1px solid #f0efed;
  border-bottom: 1px solid #807f7f;
  border-right: 1px solid #807f7f;
  align-self: flex-start;
  margin-left: auto;
  cursor: pointer;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*mover la fuckin cruzzzz*/
}

.win-screen {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.win-text {
  align-self: flex-start;
}

.win-buttons{
  display: flex;
  gap: 10px;
  align-self: center;
}

.win-back-button {
  width: 120px;
  height: 25px;
  margin-top: 15px;
  background-color: #d6d3ce;
  border-top: 1px solid #b3b2b0;
  border-left: 1px solid #b3b2b0;
  border-bottom: 2px solid #666565;
  border-right: 2px solid #666565;
  box-shadow: 0px 0px 3px #00000075;
  cursor: pointer;
}

.win-home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  height: 25px;
  width: 25px;
  background-color: #d6d3ce;
  border-top: 1px solid #b3b2b0;
  border-left: 1px solid #b3b2b0;
  border-bottom: 2px solid #666565;
  border-right: 2px solid #666565;
  box-shadow: 0px 0px 3px #00000075;
  cursor: pointer;
}
