.background-home{
    background-image: url('/assets/back-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-family: 'TANMERINGUE';
    color: #0d002e;
    text-shadow: 2px 1px #af3762;
    font-size: 50px;
    margin: 0px;
}

.subtitle{
    font-family: 'tanpearl';
    font-size: 20px;
    color: #0d002e;
    margin: 14px 3px;
}

.options{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    gap: 15px;
}

.difficulty{
    display: flex;
    width: 100%;
    gap: 10px;
}

.numberOfPlayers{
    display: flex;
    width: 100%;
    gap: 10px;
}

.button{
    font-family: 'tanpearl';
    color: #0d002e;
    background-color: #7aa2df;
    padding: 10px 0px;
    border-radius: 100px;
    width: 100%;
    cursor: pointer;
    box-shadow: 4px 4px #0d002e7a;
    font-size: 15px;
}

.button:hover{
    background-color: #685abb;
    box-shadow: 4px 4px #0d002ebb;
}

.selected{
    background-color: #875abb;
}

.background-game{
    background-image: url('/assets/back-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 666px) {
    .button{
        font-size: 12px;
        padding:6px 0px;
    }
    .title{
        font-size: 35px;
    }
    .options{
        gap: 10px;
        width: 90%;
    }
    .subtitle{
        font-size: 16px;
    }
}