.background-home{
    background-image: url('/assets/back-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-family: 'TANMERINGUE';
    color: #e2e2e2;
    text-shadow: 3px 2px #0d002e;
    font-size: 50px;
    margin: 0;
}

.subtitle{
    font-family: 'tanpearl';
    font-size: 20px;
    color: #e2e2e2;
    text-shadow: 2px 1px #0d002e;
    width: 70%;
    margin: 20px 0px;
}

.options{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

.difficulty{
    display: flex;
    width: 100%;
    gap: 10px;
}

.numberOfPlayers{
    display: flex;
    width: 100%;
    gap: 10px;
}


.button{
    font-family: 'tanpearl';
    color: #0d002e;
    background-color: #7aa2df;
    padding: 10px 0px;
    border-radius: 100px;
    width: 100%;
    cursor: pointer;
    box-shadow: 4px 4px #0d002e7a;
}

.button:hover{
    background-color: #5a81bb;
    box-shadow: 4px 4px #0d002ebb;
}

.selected{
    background-color: #875abb;
    box-shadow: 4px 4px #0d002ebb;
}

.background-game{
    background-image: url('/assets/back-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}